<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<array>
		<string>一区 奥蕾莉亚 联盟 Spring of Eternity</string>
		<string>一区 奥蕾莉亚 部落 永恒之源</string>
		<string>一区 尘风峡谷 部落 灵魂归宿 </string>
		<string>五区 伊莫塔尔 部落 angel voice</string>
	</array>
</dict>
</plist>
