<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<array>
		<string>英雄联盟 二区</string>
		<string>英雄联盟 一区</string>
		<string>魔兽 一区 奥蕾莉亚 联盟</string>
		<string>魔兽 一区 奥蕾莉亚 部落</string>
		<string>魔兽 一区 尘风峡谷 部落</string>
		<string>魔兽 五区 伊莫塔尔 部落</string>
	</array>
</dict>
</plist>
